.heading1{
    background-color:  rgb(107, 172, 192);
}

.heading2{
    background-color: rgb(255, 0, 0);
}

.heading3{
    background-color: rgb(255, 69, 0);
}

.heading4{
    background-color: yellow;
}

.heading5{
    background-color: darkmagenta;
}

.heading6{
    background-color: rgb(31, 31, 169);
}