
.heading1{
    background-color: rgb(255, 0, 0);
}

.heading2{
    background-color: rgb(0, 255, 34);
}

.heading3{
    background-color: rgb(0, 255, 34);
}

.heading4{
    background-color: rgb(0, 255, 34);
}

.heading5{
    background-color: rgb(0, 255, 34);
}

.heading6{
    background-color: rgb(0, 255, 34);
}

.text{
    color: rgb(216, 112, 147);
}